<p>Live in Yokohama, Kanagawa, Japan.</p>  
<p>Work as Game Developer / Creative Coder / Podcaster. </p> 
<p>Interested in Visual Art.</p>  
<p>Like Boardgame, Coffee, Camera, VJ, Gardening, "sinya" Radio :)</p>
<p>Graduated from Tohoku Univ. (Dropped out of Master Degree).</p>
<p>Born in Takasaki, Gunma, Japan.</p>
<br>
<p><a class="url" href="https://www.instagram.com/dn0t_">My Artworks(Instagram) 🎨</a></p>
<p><a class="url" href="https://taiga.hatenadiary.com/">My Blog 📚</a></p>
<p><a class="url" href="https://open.spotify.com/show/0d27TmtIvnMNbJS2dXZDsw?si=1aVuJ_gKSZi2N06AGfKDxQ">My Podcast 🎶</a></p>
